@import '../../scss/colors.scss';
@import '../../scss/mixins.scss';

.button {
  min-width: 100px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 5px;
  @include border();

  &:hover {
    background-color: $blue;
    @include border();
  }
}
