@import '../../scss/colors.scss';
@import '../../scss/mixins.scss';

.category {
  position: relative;

  &_active {
    & > .category__main {
      background-color: $blueLight;
    }
  }

  &__main {
    background-color: white;
    padding: 0;
    padding-left: 40px;
    margin: 0;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40px;
    font-size: 20px;
    @include border();
  }

  &__children {
    width: 95%;
    margin-left: auto;
  }

  &__title {
    margin: 0;
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    background-color: inherit;
    cursor: default;
    user-select: none;
  }

  &__arrow {
    position: absolute;
    left: 7px;
    top: 7px;
  }

  &__undo {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: translateX(-10px);
    }
  }

  &__controls {
    padding-left: 20px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
  }
}
