@mixin interactive() {
}

.category {
  position: relative;

  &_active {
    & > .category__main {
      background-color: rgb(208, 247, 240);
    }
  }

  &__main {
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    padding: 0;
    padding-left: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40px;
    font-size: 20px;
  }

  &__children {
    width: 95%;
    margin-left: auto;
  }

  &__title {
    margin: 0;
    border: none;
    appearance: none;
    outline: none;
    max-width: 300px;
    font-size: 20px;
    background-color: inherit;
  }

  &__arrow {
    position: absolute;
    left: 7px;
    top: 7px;
  }

  &__undo {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: translateX(-10px);
    }
  }

  &__controls {
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
  }
}
