@import '../../scss/colors.scss';

.main-container {
  max-width: $Xl;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: stretch;
    height: fit-content;
    align-self: stretch;
    flex-grow: 1;
    padding-bottom: 20px;
  }

  &__left {
    width: 40%;
  }

  &__right {
    width: 60%;
  }
}
