.main-container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  // background-color: bisque;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    position: relative;
    justify-content: stretch;
    align-items: stretch;
    height: fit-content;
    align-self: stretch;
    flex-grow: 1;
  }

  &__left {
    width: 40%;
    // background-color: burlywood;
  }

  &__right {
    width: 60%;
    // background-color: beige;
  }
}
