@import '../../scss/colors.scss';

.header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;

  &__logo {
    color: $logoColor;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 10px;
    text-shadow: $logoShadow;
    cursor: pointer;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__add-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
  }
}
