.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__control {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid black;
  }

  &__text {
    padding: 0 10px;
    width: max-content;
  }
}
